<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Snake</title>
  <link rel="icon" href="asset/logo-16x16.png">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <img src="asset/main.svg"/>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="vendor/socket.io.js"></script>
  <script>
  </script>
  <!-- <script>window.jQuery || document.write('<script src="/dist/lib/jquery-2.1.0.min.js"><\/script>')</script> -->
  <!-- Include all compiled plugins (below), or include individual files as needed-->
  <svg id="main"></svg>
  <div id="overlays">
    <div id="welcome">
      <div class="border">
        <input id="name" placeholder="Enter your name"></input>
      </div>
      <div class="border">
        <input id="url" placeholder=""></input>
      </div>
    </div>
  </div>
  <script src="vendor/svg{{ext}}.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
